/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment:fixed;
  margin: auto;
}

.header {
  min-height: 364px;
  width: 48.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: var(--border);
  font-family: var(--accent-font);
  margin: 102px auto 103px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-top: 115px;
  margin-bottom: 18px;
  font-weight: 400;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: 20px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
}

.theme-menu__button::after {
  content: '';
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  display: block;
  background-color: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s;
  transform-origin: left;
}

.theme-menu__button:focus {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

button:disabled::before {
  content: '▶';
  position: absolute;
  left: -16px;
  opacity: 0.6;
  animation: line 0.5s ease-in-out infinite alternate;
}

.content__card__item {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--bg-color);
  width: 48.3%;
  border: var(--border);
  position: relative;
}

.content__card__item:not(:last-of-type) {
  margin-bottom: 57px;
}

.label {
  position: absolute;
  top: 5%;
  right: 25px;
  color: var(--accent-color);
  text-shadow: 1px 1px 0px 0px var(--bg-color);
  z-index: 2;
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .label {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
} 

.label__title {
 opacity: 0.5;
 mix-blend-mode: hard-light;
 font-family: var(--accent-font);
 font-size: 14px;
 font-weight: var(--card-text-font-weight);
 text-transform: uppercase;
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: var(--card-title-font-weight);
  padding: 3px 10px;
  border-bottom: var(--border);
}

.card__image {
  width: 100%;
  height: 696px;
}

.dark__souls {
  filter: sepia(0.7);
}

.dog__soul {
  filter: saturate(2);
}

.blood__souls {
  filter: brightness(2);
}

.dungeon__souls {
  filter: contrast(1.2) hue-rotate(343deg) brightness(1.5);
}

.sekiro__souls {
  filter: hue-rotate(0.7turn);
}

.mine__souls {
  filter: invert(1);
}

.hade__souls {
  filter: brightness(2) invert(1) grayscale(1);
}

.hot__souls {
  filter: blur(3px);
}

.card__text {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: var(--card-text-font-weight);
  padding: 27px 25px 0;
}

.card__text:not(:last-of-type) {
  border-top: var(--border);
}

.card__text:last-of-type {
  margin-bottom: 25px;
}

.card-buttons {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.card__icon-button {
  height: 30px;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
  border: 2px solid transparent;
}

.like-icon {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border);
  transition: border 0.3s ease;
}

.button {
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--card-text-font-weight);
  border: var(--border);
  cursor: pointer;
}

.card__like-button {
  align-self: flex-end;
  width: 130px;
  height: 38px;
  margin: 0 25px 25px 0;
  position: relative;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--accent-color);
  display: block;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover:before {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: var(--shadow-color);
  transition: box-shadow 0.3s;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.memory {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.floppy {
  fill: var(--accent-color);
  width: 39px;
  height: 39px;
}

.button__icon {
  fill: var(--button-color);
  mix-blend-mode: difference;
  width: 28px;
  height: 28px;
}

.memory__like-button {
  margin: 54px auto 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 350px;
  min-height: 51px;
  padding: 6px;
  position: relative;
}

.memory__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--accent-color);
  display: block;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.memory__like-button:hover:before {
  transform: scaleX(1);
}

.memory__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.dialog {
  position: fixed;
  width: 367px;
  height: 193px;
  inset: 0;
  background-color: var(--bg-color);
  border: var(--border);
  color: var(--accent-color);
}

.dialog[open] {
  padding: 29px 42px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.insert {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.ok__button {
  width: 100%;
  height: 38px;
  position: relative;
}

.ok__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--accent-color);
  display: block;
}

.ok__button:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.dialog__title {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 232px;
  line-height: 150%;
  text-transform: uppercase;
}

@media (width <= 1000px) {
  .header {
    width: 100%;
    min-height: 323px;
  }

  .header__title {
    margin-top: 100px;
    margin-bottom: 18px;
  }

  .content__card__item {
    width: 100%;
  }

  .card__image {
    width: 100%;
    height: 49.3%;
  }

  .label {
    position: absolute;
    top: 8%;
  }

  .memory__like-button {
    width: 306px;
    min-height: 80px;
    flex-direction: column;
  }
}