/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
@media (prefers-color-scheme: dark) {
    :root{
        --bg-color: #000;
        --accent-color: #00CC14;
        --main-title-b: 785;
        --main-desk-b: 465;
        --bg-gradient: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(#007f0c, #004306);
        --heart-contour: #00CC14;
    }

    .button__text{
        color: var(--accent-color);
    }

    .floppy {
        fill: var(--accent-color);
      }
}

:root.theme-dark{
    --bg-color: #000;
    --accent-color: #00CC14;
    --card-title-font-weight: 785;
    --card-text-font-weight: 465;
    --heart-contour: #00CC14;
    --bg-gradient: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c, #004306);
    --button-color: var(--accent-color);
}

:root.theme-light {
    --bg-color: #fff;
    --accent-color: #000;
    --card-title-font-weight: 700;
    --card-text-font-weightk: 400;
    --heart-contour: #000;
    --bg-gradient: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --button-color: var(--bg-color);
}