/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'Press Start 2P';
    --main-title: 785;
    --main-title: 700;
    --main-desk: 465;
    --main-desk: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --bg-gradient: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
    --shadow-color: 2px 2px 0 0 var(--accent-color);
    --heart-contour: #000;
    --fill-red: #FF0000;
    --border: 2px solid var(--accent-color);
}